body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    
}

#main-nav {
	background-color: #23252E !important;
	opacity: 0.7;
}

.nav-item {
	padding: 20px;
}

.form-inline {
	padding-left: 85%;
}

#logo-img {
	width: 25%;
	padding-left: 10px;
}

.btn-outline-success {
	width: 200px;
}

h1 {
	color: #D1D2DC;
	padding-right: 10px;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}

footer a {
	text-decoration: underline;
}


#heading {
	display: flex;
	align-items: space-between;
	margin-top: 2em;
	margin-bottom: 2em;
}

.movieSlide, .seriesSlide {
    margin: auto;
}

.pictureCarosel, .seriesCarosel {
background-color: black;
}

.watchTrailer {
	background-color: #28a745;
	color: white;
	width: 200px;
}

.captext{
    text-align: center;
}

#description {
	color: white;
	text-align: center;
	margin-top: 40px;
}

#search-results {
	display: none;
}

.movieHolder {
    display: flex;
    justify-content: center; 
}

#more-btn {
	display: none;
	margin-left: 30%;
}

#error-display {
	margin: auto;
	margin-bottom: 20px;
}

footer {
	color: white;
	margin: 50px;
	text-align: center;
}

@media (max-width: 425px) {
    .movieSlide, .seriesSlide {
        width: 50%;
    }
    .watchTrailer{
        width: 50%;
	}
	h1 {
		display: none;
	}
	.dropdown {
		margin: auto;
	}
	.sticky-top {
		position: static;
	}
	.form-inline {
		padding-left: 75%;
	}
}

@media (max-width: 325px) {
	.form-inline {
		padding-left: 0;
	}
}
